@font-face {
    font-family: "MyCustomFont";
    src: url("fonts/GothamMedium.ttf") format("truetype");
}

body {
    font-family: "MyCustomFont";
}

.carousel-item img {
    height: 450px;
    object-fit: cover;
}

